<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="conn" connectionString="Data Source=192.168.8.200;Initial Catalog=AE2RFIDSysDB;User Id=sa;Password=87671678" providerName="System.Data.SqlClient" />
    <!--<add name="conn" connectionString="Data Source=49.235.118.170;Initial Catalog=AE2RFIDSysDB;User Id=sa;Password=F33D93EC-63A4-44B9-ACA8-8C0192BD7D82;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conn" connectionString="Data Source=localhost;Initial Catalog=AE2RFIDSysDB;User Id=sa;Password=123456" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FreeSql" publicKeyToken="a33928e5d4a4b39c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.105.0" newVersion="2.0.105.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
