<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/logs/nlog-internal.log">
  <variable name="dir" value="${basedir}/logs"/>
  <targets>
    <target name="info" xsi:type="File" fileName="${var:dir}/${date:format=yyyyMM}/${shortdate}.info.txt" layout="[${date:format=yyyy\-MM\-dd HH\:mm\:ss\.fff}]:${message}"/>
    <target name="debug" xsi:type="File" fileName="${var:dir}/${date:format=yyyyMM}/${shortdate}.debug.txt" layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss\.fff},${newline}
${lowercase:${level}},${newline}
${message},${newline}
${callsite},${newline}
${stacktrace}${newline}"/>
    <target name="warn" xsi:type="File" fileName="${var:dir}/${date:format=yyyyMM}/${shortdate}.warn.txt" layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss\.fff},${newline}
${lowercase:${level}},${newline}
${message},${newline}
${callsite},${newline}
${stacktrace}${newline}"/>
    <target name="error" xsi:type="File" fileName="${var:dir}/${date:format=yyyyMM}/${shortdate}.error.txt" layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss\.fff},${newline}
${lowercase:${level}},${newline}
${message},${newline}
${callsite},${newline}
${stacktrace}${newline}"/>
    
    <target name="data" xsi:type="File" fileName="${var:dir}/${date:format=yyyyMM}/${shortdate}.app.info.txt" layout="[${date:format=yyyy\-MM\-dd HH\:mm\:ss\.fff}]:${message}"/>
    <target name="textbox" xsi:type="RichTextBox" layout="[${date:format=yyyy\-MM\-dd HH\:mm\:ss\.fff}]:${message}" autoScroll="true" maxLines="1000" controlName="rtbBox" formName="FrmMain" useDefaultRowColoringRules="true"/>
  </targets>

  <rules>
    <logger name="*" levels="Error,Fatal" writeTo="error">
      <filters>
        <when condition="starts-with('${logger}','TransmissionOilFilling.SubFrame.FrmMain')" action="Ignore" />
      </filters>
    </logger>
    
    <logger name="*" levels="Debug" writeTo="debug">
      <filters>
        <when condition="starts-with('${logger}','TransmissionOilFilling.SubFrame.FrmMain')" action="Ignore" />
      </filters>
    </logger>
    
    <logger name="*" levels="Info" writeTo="info">
      <filters>
        <when condition="starts-with('${logger}','TransmissionOilFilling.SubFrame.FrmMain')" action="Ignore" />
      </filters>
    </logger>
    
    <logger name="TransmissionOilFilling.SubFrame.FrmMain" minlevel="Debug" writeTo="data" enabled="true" />
    <logger name="TransmissionOilFilling.SubFrame.FrmMain" minlevel="Debug" writeTo="textbox" enabled="true" />
  </rules>
</nlog>